* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --h1-font: 2.5rem;
    --h1-color: #30336b;
}

body {
    background: #dff9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* SCREEN */
.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}

/* START SCREEM */
#start-screen h1 {
    color: var(--h1-color);
    margin-bottom: 20px;
    font-size: var(--h1-font);
}

#start-screen p {
    margin-bottom: 30px;
    font-size: 1.1rem;
    color: #666;
}

.quiz-header {
    margin-bottom: 2rem;
}

#question-text {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #dff9fb;
    color: #333;
    border: 2px solid #30336b;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3 ease;
}

.answer-btn:hover {
    background-color: #b1d9db;
    border-color: #a0c3c5;
}

.answer-btn.correct {
    background-color: #e6fff0;
    border-color: #e3f0c4;
    color: #28a745;
}

.answer-btn.incorrect {
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}

.progres-bar {
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #1e3799;
    width: 0%;
    transition: width 0.3 ease;
}

#result-screen h1 {
    color: var(--h1-color);
    margin-bottom: 30px;
}

.result-info {
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.result-message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #30336b;
}

button {
    background-color: #30336b;
    color: white;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
}

button:hover {
    background-color: #26285a;
}

/* Resposive design */

@media (max-width:500px) {

    .screen {
        padding: 1rem;
    }

    #start-screen h1 {
        font-size: 2rem;
    }

    .question-text {
        font-size: 1.3rem;
    }

    .answer-btn {
        padding: 12px;
    }

    button {
        padding: 12px 25px;
    }
}